.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.form-control:disabled {
  background-color: #ffffff;
}

.swiper-slide {
  border-radius: 10px;
}
