.favorities-sets__item {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #b9b9b9;
}

.favorities-sets {
  display: grid;
  grid-template-columns: repeat(5, 208px);
  gap: 40px;
  justify-content: center;
}
